[submodule "cookbooks/devstack"]
	path = cookbooks/devstack
	url = git://github.com/sc68cal/chef-devstack.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
