box_name: oneiric
allocate_memory: 1024

ip_prefix: 192.168.27
mac_prefix: 080027027

# These paths are all relative to the Vagrantfile
devstack_cookbooks_dir: devstack_cookbooks/
cache_dir: cache/
ssh_dir: ~/.ssh/
